@use '../../../sass/utils/' as u;

.card-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  background: var(--clr-primary-light);
  @include u.media-desktop {
    margin-top: 4rem;
  }

  // set padding inline for all L1 children
  // padding-block to be set inside children's scss
  > * {
    padding-inline: 1.5rem;

    @include u.media-desktop {
      padding-inline: 2.5rem;
    }
  }
}

// if needed somewhere else at some point then move it outside
.card-container--box-shadow {
  box-shadow: 0px 1rem 32px rgba(30, 42, 50, 0.08);
  border-radius: 5px;
}
