/* White */
// navbar_bg, card_bg
$clr-primary-light: #fff;

/* Midnight Purple */
$clr-primary-dark: #423c66;

// body_bg, info_box
$clr-secondary-light: #f4f8fa;

/* Blue Gray */
// Font total, font
$clr-secondary-dark: #1e2a32;

/* Salmon */
// card__header_bg
$clr-contrast-light: #ffdbcc;

/* border clr-stroke */
// card__content__summary & inputs border
$clr-border-light: #e9eef2;

/* Purple Gray */
// Cancel button border & fonts
$clr-tertiary-dark: #474a62;
