body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  color: var(--clr-primary-dark);
}

// list of fonts used
// // Amount
// font-family: 'Inter', sans-serif;
// font-weight: 700;

// // set up your donation
// font-family: 'Inter', sans-serif;
// font-weight: 400;

// // Button , h2 the giving block
// font-family: 'Work Sans', sans-serif;
// font-weight: 600;

// // Total amount, input_label
// font-family: 'Work Sans', sans-serif;
// font-weight: 500;

// // Info box/ year
// font-family: 'Work Sans', sans-serif;
// font-weight: 400;

// Month
// font-family: 'Rubik', sans-serif;
// font-weight: 500;
