@use '../../sass/utils/' as u;

.month_selector {
  width: 100%;
  @include u.media-desktop {
    max-width: 16rem;
  }

  .month_selector__label {
    // font-family: 'Work Sans', sans-serif; is set on body
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #4d6475;
    margin-bottom: 6px;
  }
}

.date_switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
  min-height: 60px;

  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-border-light);
  border-radius: 4px;

  .date_switcher__button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 100ms ease-out;
    &:is(:hover) {
      background-color: #f3f5fe;
    }
    &:active {
      background: #e8eaf2;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .date_switcher__date {
    color: var(--clr-tertiary-dark);
    text-align: center;

    .date_switcher__date__month {
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: 1rem;
      line-height: 20px;
    }

    .date_switcher__date__year {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1rem;
    }
  }
}
