@use '../../../sass/utils/' as u;

.card-content-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .card-content-actions--responsive {
    display: none;
    @include u.media-desktop {
      display: block;
    }
  }
}
